<!-- Preloader start -->
<!-- <div class="loader-outer" style="background-image: url(/assets/website/img/bg/lines.jpg);" data-overlay="9">
    <div class="transform-center z-5">
        <div class="loader">
            <svg viewBox="0 0 80 80">
              <circle id="test" cx="40" cy="40" r="32"></circle>
          </svg>
        </div>

        <div class="loader triangle">
            <svg viewBox="0 0 86 80">
              <polygon points="43 8 79 72 7 72"></polygon>
          </svg>
        </div>

        <div class="loader">
            <svg viewBox="0 0 80 80">
              <rect x="8" y="8" width="64" height="64"></rect>
          </svg>
        </div>
    </div>
</div> -->
<!-- Preloader end -->
<!-- start header -->
<header class="header-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6">
                <div class="logo">
                    <a href="index-2.html">
                        <img src="/assets/website/img/logo/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-6">
                <nav class="main-menu-1">
                    <div class="d-flex justify-content-end align-items-center">
                        <ul>
                            <li> <a href="#" class="active">Home<span>+</span></a>
                                <ul class="submenu">
                                    <li><a href="index-2.html">Home Page 1</a>
                                    </li>
                                    <li><a href="index2.html">Home Page 2</a>
                                    </li>
                                    <li><a href="index3.html">Home Page 3</a></li>
                                </ul>
                            </li>
                            <li> <a href="#" class="">About<span>+</span></a>
                                <ul class="submenu">
                                    <li><a href="about.html"><span></span>About Us</a>
                                    </li>
                                    <li><a href="history.html"><span></span>History</a>
                                    </li>
                                    <li><a href="partners.html"><span></span> Our Partners</a>
                                    </li>
                                    <li><a href="career.html"><span></span> Career</a>
                                    </li>
                                    <li><a href="career-details.html"><span></span> Career Details</a>
                                    </li>
                                    <li><a href="faq.html"><span></span> FAQ</a>
                                    </li>

                                </ul>
                            </li>
                            <li> <a href="#" class="">Cases<span>+</span></a>
                                <ul class="submenu">
                                    <li><a href="cases.html"><span></span>Cases</a>
                                    </li>
                                    <li><a href="cases2.html"><span></span>Cases 2</a>
                                    </li>
                                    <li><a href="case-details.html"><span></span>Case Detail</a>
                                    </li>
                                    <li><a href="become-a-volunteer.html"><span></span>Become a Volunteer</a>
                                    </li>
                                    <li><a href="events.html"><span></span>Events</a>
                                    </li>

                                </ul>
                            </li>
                            <li> <a href="#" class="">Blog<span>+</span></a>
                                <ul class="submenu">
                                    <li><a href="blog-listing.html"><span></span>Blog Standared</a>
                                    </li>
                                    <li><a href="blog-list-grid-2-col.html"><span></span>Blog Grid 2 Col</a>
                                    </li>
                                    <li><a href="blog-list-grid-3-col.html"><span></span>Blog Grid 3 Col</a>
                                    </li>
                                    <li>
                                        <a href="blog-list-grid-sidebar.html"><span></span>Blog Grid Sidebar
                                              </a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html"><span></span>Blog Details
                                              </a>
                                    </li>
                                </ul>
                            </li>
                            <li> <a href="#" class="">Shop<span>+</span></a>
                                <ul class="submenu">
                                    <li><a href="shop-list-3-col.html"><span></span>Shop Listing 3 Col</a>
                                    </li>
                                    <li><a href="shop-list-4-col.html"><span></span>Shop Listing 4 Col</a>
                                    </li>
                                    <li><a href="shop-list-sidebar.html"><span></span>Shop Listing Sidebar</a>
                                    </li>
                                    <li><a href="shop-details.html"><span></span>Shop Details</a>
                                    </li>
                                    <li><a href="cart.html"><span></span>Cart</a>
                                    </li>
                                    <li><a href="checkout.html"><span></span>Checkout</a>
                                    </li>
                                    <li><a href="login.html"><span></span>Login</a>
                                    </li>
                                    <li><a href="signup.html"><span></span>Signup</a>
                                    </li>
                                </ul>
                            </li>
                            <li> <a href="#" class="">Pages<span>+</span></a>
                                <ul class="submenu">
                                    <li><a href="contact.html"><span></span>Contact</a>
                                    </li>
                                    <li><a href="team-1.html"><span></span>Team</a>
                                    </li>
                                    <li><a href="team-single.html"><span></span>Team Detail</a>
                                    </li>
                                    <li><a href="testimonials.html"><span></span>Testimonials</a>
                                    </li>
                                    <li><a href="gallery-3.html"><span></span>Gallery 3 Col</a>
                                    </li>
                                    <li><a href="gallery-4.html"><span></span>Gallery 4 Col</a>
                                    </li>
                                    <li><a href="gallery-masonry-3.html"><span></span>Gallery 3 Col Masonry</a>
                                    </li>
                                    <li><a href="gallery-masonry-4.html"><span></span>Gallery 4 Col Masonry</a>
                                    </li>
                                    <li><a href="error.html"><span></span>404</a>
                                    </li>
                                    <li><a href="coming-soon.html"><span></span>Coming Soon</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="search-popup" data-toggle="modal" data-target="#searchModal"><i class="fas fa-search"></i></a>
                            </li>

                        </ul>
                        <a href="#" class="btn btn-shade-green ml-15">
                            <span class="z-5 relative">Make a Donation</span>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="col-12">
                <div class="mobile-menu tt-index-1"></div>
            </div>
        </div>
    </div>
</header>
<!-- start header -->
<!-- The search Modal start -->
<div class="search-popup modal" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="#">
                    <div class="form-group relative">
                        <input type="text" class="form-control input-search" id="search" placeholder="Search here..."> <i class="fas fa-search yellow transform-v-center"></i>
                    </div>
                </form>
            </div>
        </div>
    </div> <i class="fas fa-times close-search-modal" data-dismiss="modal" aria-label="Close"></i>
</div>
<!-- The search Modal end -->

<!-- Banner start -->
<section class="slider-3 relative">
    <div class="owl-carousel owl-theme main-slider">
        <div class="item">
            <div class="each-slider flex-center" style="background-image: url('/assets/website/img/banner/banner1.jpg');" data-overlay="3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <div class="banner-text-left white z-5">
                                <h1 class="black slab mb-15">
                                    Raise your hand for Helpless Childrens
                                </h1>
                                <p class="fs-15 mb-25 black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maec enas molestie pretium maximus. In consequat enim eu ultric convallis Ut mauris quam, venenatis consectetur adipiscing elit. </p>
                                <a href="#" class="btn btn-shade-green">
                                    <span class="z-5 relative">Readmore</span>
                                </a>
                                <a href="#" class="btn btn-shade-yellow ml-30 ml-xs-10">
                                    <span class="z-5 relative">Contact Us</span>
                                </a>
                                <div class="banner-mav-arrows">
                                    <img src='/assets/website/img/icons/left-y.png' alt="" class="left-ar">
                                    <img src='/assets/website/img/icons/right-y.png' alt="" class="right-ar">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="each-slider flex-center" style="background-image: url('/assets/website/img/banner/banner2.jpg');" data-overlay="3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <div class="banner-text-left white z-5">
                                <h1 class="black slab mb-15">
                                    Raise your hand for Helpless Childrens
                                </h1>
                                <p class="fs-15 mb-25 black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maec enas molestie pretium maximus. In consequat enim eu ultric convallis Ut mauris quam, venenatis consectetur adipiscing elit. </p>
                                <a href="#" class="btn btn-shade-green">
                                    <span class="z-5 relative">Readmore</span>
                                </a>
                                <a href="#" class="btn btn-shade-yellow ml-30 ml-xs-10">
                                    <span class="z-5 relative">Contact Us</span>
                                </a>

                                <div class="banner-mav-arrows">
                                    <img src='/assets/website/img/icons/left-y.png' alt="" class="left-ar">
                                    <img src='/assets/website/img/icons/right-y.png' alt="" class="right-ar">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner end -->
<!-- donate form start -->
<section class="donate-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="donate-form-main bg-lines" data-overlay="9">
                    <div class="z-5">
                        <h1 class="fs-42 slab mb-20  wow fadeInDown">We Need Your Help.</h1>
                        <form action="#" class=" wow fadeInUp">
                            <div class="d-flex flex-column flex-lg-row justify-content-center">
                                <div class="dn-toggle">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                          <input type="radio" name="options"> One time
                                      </label>
                                        <label class="btn btn-primary active">
                                          <input type="radio" name="options" checked> Monthly
                                      </label>
                                    </div>
                                </div>
                                <div class="dn-amount">
                                    <div class="form-group mr-30 relative mb-0 mr-sm-00">
                                        <input type="text" class="form-control input-white" id="amount" placeholder="Amount">
                                        <i class="fas fa-dollar-sign transform-v-center"></i>
                                    </div>
                                </div>
                                <div class="dn-name">
                                    <div class="form-group mr-30 relative mb-0 mr-sm-00">
                                        <input type="text" class="form-control input-white" id="name" placeholder="Name">
                                        <i class="fas fa-user transform-v-center"></i>
                                    </div>
                                </div>
                                <div class="dn-email">
                                    <div class="form-group mr-30 relative mb-0 mr-sm-00">
                                        <input type="text" class="form-control input-white" id="email" placeholder="Email">
                                        <i class="fas fa-envelope transform-v-center"></i>
                                    </div>
                                </div>
                                <div class="dn-button">
                                    <a href="#" class="btn btn-black">DONATE</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- donate form end -->

<!-- about start -->
<section class="about pt-xl-35 pt-lg-90">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-12 col-xl-6 text-center text-xl-left">
                <div class="abt-texts wow fadeInRight">
                    <img src="/assets/website/img/icons/line.png" alt="" class="line mb-15">
                    <h1 class="fs-42 slab f-800">Mary Jane’s Story</h1>
                    <p class="fs-24 f-300 lh-14 mt-15">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Maecenas vitae ligula feugiat</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maec enas molestie pretium maximus. In consequat enim eu ultric convallis Ut mauris quam, venenatis consectetur adipiscing elit.</p>
                    <p>kestibulum at faucibus diam, eget mollis leo. Quisque at maximus lacus. Sed laoreet odio a nibh imperdiet, sed sollicitudin neque faucibus diam honcus. Mauris Maec enas porttito.</p>
                    <div class="abt-counts row">
                        <div class="col-sm-4">
                            <h1><span class="counter">159</span>+</h1>
                            <p>Completed Projects</p>
                        </div>
                        <div class="col-sm-4">
                            <h1><span class="counter">200</span>+</h1>
                            <p>Volounteers</p>
                        </div>
                        <div class="col-sm-4">
                            <h1><span class="counter">15</span>+</h1>
                            <p>Awards Achieved</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-shade-green">
                        <span class="z-5 relative">Readmore</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-xl-6 text-center text-xl-left">
                <div class="about-ath-img mt-50 wow fadeInLeft">
                    <img src="/assets/website/img/about/abt.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about end -->

<!-- cases start -->
<section class="find-cases bg-light-white pt-90 pb-60 relative ">
    <div class="container">
        <div class="row align-items-end mb-30">
            <div class="col-lg-8 text-center text-lg-left">
                <img src="/assets/website/img/icons/line.png" alt="" class="line mb-15">
                <h1 class="fs-42 slab f-800 mb-md-20">Find Out Our Causes</h1>
            </div>
            <div class="col-lg-4 text-center text-lg-right">
                <a href="#" class="btn btn-black-border">View All</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInUp">
                <div class="each-case bg-lines " data-overlay="9">
                    <div class="z-5">
                        <img src="/assets/website/img/icons/case1.png" alt="">
                        <h3><a href="#" class="slab">Donate for Home</a></h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipiscing</p>
                        <a href="#" class="case-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                <div class="each-case bg-lines" data-overlay="9">
                    <div class="z-5">
                        <img src="/assets/website/img/icons/case2.png" alt="">
                        <h3><a href="#" class="slab">Build Schools</a></h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipiscing</p>
                        <a href="#" class="case-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="each-case bg-lines" data-overlay="9">
                    <div class="z-5">
                        <img src="/assets/website/img/icons/case3.png" alt="">
                        <h3><a href="#" class="slab">Food for Childrens</a></h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipiscing</p>
                        <a href="#" class="case-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                <div class="each-case bg-lines" data-overlay="9">
                    <div class="z-5">
                        <img src="/assets/website/img/icons/case4.png" alt="">
                        <h3><a href="#" class="slab">Medical Expenses</a></h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipiscing</p>
                        <a href="#" class="case-btn">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="/assets/website/img/other/dot-circle.png" class="find-c-bg" alt="">
</section>
<!-- cases end -->

<!-- video start -->
<section class="video-area-yel pt-105 pb-90" data-overlay="85" style="background-image: url('/assets/website/img/bg/childrens.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="video-texts z-5">
                    <a href="https://www.youtube.com/watch?v=qtQgbdmIO30" class="dashed-play-btn popup-video mb-35">
                        <i class="fas fa-play"></i>
                    </a>
                    <h3 class="slab fs-25 f-700">Watch Our Latest Campaign</h3>
                    <h1 class="fs-55 f-700 slab mb-15 mt-10">Supplying Pure Drinking Water.</h1>
                    <p class="fs-18 vid-ye-po">Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudt ipsum dolor siteiusmod tempor inci dolore magna aliquaminim veniam</p>
                    <a href="#" class="btn btn-shade-green btn-lg mt-30">
                        <span class="z-5 relative">Make a Donation</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- video end -->

<!-- locations start -->
<section class="location bg-light-white pt-90 pb-90 pb-md-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="/assets/website/img/icons/line.png" alt="" class="line mb-15">
                <h1 class="fs-42 slab f-800">Where are We Working?</h1>
                <p class="location-mp">Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="location-map">
                    <img src="/assets/website/img/other/map.png" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <ul class="location-list">
                    <li>
                        <a href="#">South Africa<i class="fas fa-chevron-right"></i></a>
                    </li>
                    <li>
                        <a href="#">India<i class="fas fa-chevron-right"></i></a>
                    </li>
                    <li>
                        <a href="#">Russia<i class="fas fa-chevron-right"></i></a>
                    </li>
                    <li>
                        <a href="#">Brazil<i class="fas fa-chevron-right"></i></a>
                    </li>
                    <li>
                        <a href="#">Central Africa<i class="fas fa-chevron-right"></i></a>
                    </li>
                    <li>
                        <a href="#">Sudan<i class="fas fa-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- locations end -->

<!-- team start -->
<section class="team bg-light-white pt-20 pb-60 pb-md-80">
    <div class="container">
        <div class="row align-items-end mb-20">
            <div class="col-lg-8 text-center text-lg-left">
                <img src="/assets/website/img/icons/line.png" alt="" class="line mb-15">
                <h1 class="fs-42 slab f-800 mb-md-20">Meet the Volunteers</h1>
            </div>
            <div class="col-lg-4 text-center text-lg-right">
                <a href="#" class="btn btn-black">Become a Volunteer</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-theme team-slider">
                    <div class="item">
                        <div class="each-team">
                            <div class="team-img">
                                <img src="/assets/website/img/team/1.jpg" class="team-img" alt="">
                                <img src="/assets/website/img/other/dot-circle.png" class="dots-bg transform-center" alt="">
                                <a href="#" class="plus-btn bg-yellow">+</a>
                            </div>
                            <div class="team-text">
                                <h3 class="slab fs-24 f-700">Steven Jacob</h3>
                                <p>Field Cordeaenator</p>
                                <ul class="social-icons team-social">
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="each-team">
                            <div class="team-img">
                                <img src="/assets/website/img/team/2.jpg" class="team-img" alt="">
                                <img src="/assets/website/img/other/dot-circle.png" class="dots-bg transform-center" alt="">
                                <a href="#" class="plus-btn bg-yellow">+</a>
                            </div>
                            <div class="team-text">
                                <h3 class="slab fs-24 f-700">Anna Thomas</h3>
                                <p>Activist</p>
                                <ul class="social-icons team-social">
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="each-team">
                            <div class="team-img">
                                <img src="/assets/website/img/team/3.jpg" class="team-img" alt="">
                                <img src="/assets/website/img/other/dot-circle.png" class="dots-bg transform-center" alt="">
                                <a href="#" class="plus-btn bg-yellow">+</a>
                            </div>
                            <div class="team-text">
                                <h3 class="slab fs-24 f-700">William Rojer</h3>
                                <p>Project Manager</p>
                                <ul class="social-icons team-social">
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="each-team">
                            <div class="team-img">
                                <img src="/assets/website/img/team/4.jpg" class="team-img" alt="">
                                <img src="/assets/website/img/other/dot-circle.png" class="dots-bg transform-center" alt="">
                                <a href="#" class="plus-btn bg-yellow">+</a>
                            </div>
                            <div class="team-text">
                                <h3 class="slab fs-24 f-700">Sherlin Maven</h3>
                                <p>Field Supervisor</p>
                                <ul class="social-icons team-social">
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="each-team">
                            <div class="team-img">
                                <img src="/assets/website/img/team/5.jpg" class="team-img" alt="">
                                <img src="/assets/website/img/other/dot-circle.png" class="dots-bg transform-center" alt="">
                                <a href="#" class="plus-btn bg-yellow">+</a>
                            </div>
                            <div class="team-text">
                                <h3 class="slab fs-24 f-700">Steven Jacob</h3>
                                <p>Field Cordeaenator</p>
                                <ul class="social-icons team-social">
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="each-team">
                            <div class="team-img">
                                <img src="/assets/website/img/team/6.jpg" class="team-img" alt="">
                                <img src="/assets/website/img/other/dot-circle.png" class="dots-bg transform-center" alt="">
                                <a href="#" class="plus-btn bg-yellow">+</a>
                            </div>
                            <div class="team-text">
                                <h3 class="slab fs-24 f-700">Anna Thomas</h3>
                                <p>Activist</p>
                                <ul class="social-icons team-social">
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team end -->

<!-- quote area start -->
<section class="fanous-quote bg-light-white pb-95">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="foquote-outer shadow-b">
                    <div class="row align-items-center">
                        <div class="col-lg-6 wow fadeInUp">
                            <img src="/assets/website/img/icons/line.png" alt="" class="line mb-25">
                            <p class="slab quote-m-s white fs-23 f-600">“Child labor and poverty are inevitably bound together and if you continue to use the labor of children as the treatment for the social disease of poverty, you will have both poverty and child labor to the end of time.”</p>
                            <p class="f-quote-by yellow mb-0 mt-20">
                                Mary Jane
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <img src="/assets/website/img/bg/quote.jpg" alt="">
                        </div>
                    </div>
                    <span class="f-quote-a">”</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- quote area start -->

<!-- blog area start -->
<section class="blog bg-light-white pb-110">
    <div class="container">
        <div class="row mb-45">
            <div class="col-lg-12 text-center">
                <img src="/assets/website/img/icons/line.png" alt="" class="line mb-15">
                <h1 class="fs-42 slab f-800">Latest News & Blogs</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="each-blog">
                    <div class="blog-image">
                        <img src="/assets/website/img/blog/1.jpg" alt="">
                        <a href="#" class="btn btn-blog-hvr transform-center">Read More</a>
                        <span class="date-label bg-green light-white transition-4">18 Dec 2019</span>
                    </div>
                    <div class="blog-text">
                        <h3 class="mb-5">
                            <a href="#" class="slab fs-19 f-800 lh-15">Lorem ipsum dolor sit amet conse ctetur adipdolor Vestibul..</a>
                        </h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipi sicing elit, sed do eiusmod. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                <div class="each-blog">
                    <div class="blog-image">
                        <img src="/assets/website/img/blog/2.jpg" alt="">
                        <a href="#" class="btn btn-blog-hvr transform-center">Read More</a>
                        <span class="date-label bg-green light-white transition-4">18 Dec 2019</span>
                    </div>
                    <div class="blog-text">
                        <h3 class="mb-5">
                            <a href="#" class="slab fs-19 f-800 lh-15">Proin aliquam erat vel mi facil isis, vitae accumsan ipsum..</a>
                        </h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipi sicing elit, sed do eiusmod. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="each-blog">
                    <div class="blog-image">
                        <img src="/assets/website/img/blog/3.jpg" alt="">
                        <a href="#" class="btn btn-blog-hvr transform-center">Read More</a>
                        <span class="date-label bg-green light-white transition-4">18 Dec 2019</span>
                    </div>
                    <div class="blog-text">
                        <h3 class="mb-5">
                            <a href="#" class="slab fs-19 f-800 lh-15">Lorem ipsum dolor sit amet con se ctetur adipdolor Vestibul..</a>
                        </h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipi sicing elit, sed do eiusmod. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog area end -->

<!-- footer start -->
<footer class="bg-black footer-a pb-30" data-overlay="1" style="background-image: url('/assets/website/img/bg/ftr.jpg');">
    <div class="container z-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-newsletter bg-yellow">
                    <div class="row align-items-center">
                        <div class="col-lg-6 text-center text-lg-left">
                            <h2 class="fs-35 f-600 slab">Subscibe Our Newsletter</h2>
                            <p class="mb-0 mb-md-10">Lorem ipsum dolor sit amet consectetur adipisicing elit, sed </p>
                        </div>
                        <div class="col-lg-6 text-center text-lg-right">
                            <form action="#">
                                <div class="callback-footer-2 d-flex flex-column flex-sm-row">
                                    <input type="text" class="form-control input-white shadow-2" placeholder="Your email address">
                                    <button class="btn btn-black ml-20 ml-xs-00 mt-xs-15">SUBSCIBE </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container z-5">
        <div class="row mt-15">
            <div class="col-lg-4 col-sm-6 mb-md-30">
                <div class="abot-ftr">
                    <img src="/assets/website/img/logo/logo-footer.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adi pisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quisipsum..</p>
                    <a href="#">Readmore</a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 pl-10 pl-md-15 mb-md-30">
                <h4 class="fs-18 f-700 slab yellow opacity-8">About Us</h4>
                <ul class="footer-links">
                    <li><a href="#">Vision</a></li>
                    <li><a href="#">Mission</a></li>
                    <li><a href="#">Our Values</a></li>
                    <li><a href="#">Founder</a></li>
                    <li><a href="#">History</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6 pl-20 pl-md-15 mb-md-30">
                <h4 class="fs-18 f-700 slab yellow opacity-8">Quick Links</h4>
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 pl-50 pl-md-15">
                <h5 class="fs-18 f-700 slab opacity-8 yellow">Office Worldwide</h5>
                <img src="/assets/website/img/other/map-f.png" class="mt-25" alt="">
            </div>
            <div class="col-12">
                <div class="hr-2 bg-light-white mt-60 mb-30 opacity-1"></div>
            </div>
        </div>
        <div class="row copy-footer">
            <div class="col-sm-6 text-center text-sm-left">
                <p class="mb-0 mb-xs-15">© 2019 VS_THEMES, alll rights reserved</p>
            </div>
            <div class="col-sm-6 text-center text-sm-right">
                <ul class="social-icons team-social footer-social">
                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li> <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li> <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <a href="#" class="scroll-btn bg-blue opacity-0"><i class="fas fa-arrow-up"></i></a>
</footer>
<!-- footer end -->
<!-- Theme skins -->
<div class="color-theme transition-4">
    <div class="theme-switch">
        <span class="switch">
        <i class="fas fa-sliders-h"></i>
      </span>
    </div>
    <div class="theme-colors transition-4">
        <h4>Theme Skins:</h4>
        <ul class="theme-ul">
            <li>
                <span class="each-color co1" data-color="css/color.css">
                  <img src="/assets/website/img/co-1.jpg" alt="">
              </span>
            </li>
            <li>
                <span class="each-color co2" data-color="css/color2.css">
                  <img src="/assets/website/img/co-2.jpg" alt="">
              </span>
            </li>
            <li>
                <span class="each-color co3" data-color="css/color3.css">
                  <img src="/assets/website/img/co-3.jpg" alt="">
              </span>
            </li>
            <li>
                <span class="each-color co4" data-color="css/color4.css">
                  <img src="/assets/website/img/co-4.jpg" alt="">
              </span>
            </li>
            <li>
                <span class="each-color co5" data-color="css/color5.css">
                  <img src="/assets/website/img/co-5.jpg" alt="">
              </span>
            </li>
            <li>
                <span class="each-color co6" data-color="css/color6.css">
                  <img src="/assets/website/img/co-6.jpg" alt="">
              </span>
            </li>
            <li>
                <span class="each-color co7" data-color="css/color7.css">
                  <img src="/assets/website/img/co-7.jpg" alt="">
              </span>
            </li>
        </ul>
        <p class="fs-13 "><b>Note: </b>This will not change any image colors (logo, icon colors..etc)</p>
    </div>
</div>
<!-- Theme skins -->