<!-- preloader -->
<div id="preloader">
    <div id="spinner">
        <div class="preloader-dot-loading">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
</div>

<!-- Header -->
<header id="header" class="header">
    <div class="header-nav navbar-fixed-top header-dark navbar-white navbar-transparent navbar-sticky-animated animated-active">
        <div class="header-nav-wrapper">
            <div class="container">
                <nav id="menuzord-right" class="menuzord orange">
                    <a class="menuzord-brand" href="javascript:void(0)">
                        <img src="assets/website/images/logo-wide.png" alt="">
                    </a>
                    <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="fa fa-bars font-24 text-gray"></i></a></div>
                    <ul class="menuzord-menu">
                        <li class="active"><a href="#home">Home</a>
                        </li>
                        <li><a href="#">Features</a>
                        </li>
                        <li><a href="#">Pages</a>
                        </li>
                        <li><a href="#">Portfolio<span class="label label-warning">New</span></a>
                        </li>
                        <li><a href="#home">Volunteer</a>
                        </li>
                        <li><a href="javascript:void(0)">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>